:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  overflow-y: hidden;
}


.imgContainer {
  height: 100%;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: 2rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
  margin-right: 2rem;
}

footer button i {
  font-size: 3rem;

}

.footer-button{
  display: flex;
  flex-direction: row;
}

footer button:hover {
  opacity: 0.7;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: #242424;
  padding: 2rem;
  overflow-y: auto;
  z-index: 2;
}

.bgOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  opacity: .6;
}

.sidebarContents{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar h2{
  padding: 1rem 0;
  font-weight: 300;
  font-size: 2rem;
  color: #b9b9b9;
}

.sidebar h3{
  padding: 1rem 0;
  font-weight: 200;
  font-size: 1rem;
} 

.sidebar p{
line-height: 1.5rem;
font-weight: 400;
color: white;
} 

.div-button{
  align-self: flex-end;
}


.button-sidebar{
  padding: .5rem;
  border-radius: .7rem;
  border: transparent;
  cursor: pointer;
  transition-duration: 200ms;
}

.button-sidebar:hover{
  opacity: .7;
}


.button-sidebar i {
  font-size: 1.3rem;
}

.date-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-dateSidebar{
  padding: .2rem;
  font-size: 1rem;
  font-weight: 600;
  flex: 1 1 30%; /* Imposta una base per ciascun pulsante, in modo che occupi il 30% del contenitore */
  margin: 5px; /* Aggiungi un po' di spazio tra i pulsanti */
  min-width: 130px; /* Imposta una larghezza minima per ogni pulsante */
  text-align: center; /* Centra il testo all'interno del pulsante */
}

.div-buttonDate{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div-returnSidebar{
  align-self: flex-end;
}

.button-returnSidebar{
  margin-top: 10rem;
  margin-right: .5rem;
}


.loadingState{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loadingState i{
  opacity: .4;
  font-size: 7rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media  (min-width: 687px) {
  .sidebar{
    width: 30%;
  }

  .bgOverlay{
    width: 70%;
  }
}